# ==========================
# Node.js / NPM / Yarn
# ==========================
node_modules/
npm-debug.log*
.pnpm-debug.log*

# Ignore example tests
cypress/e2e/1-getting-started/
cypress/e2e/2-advanced-examples/
cypress/fixtures/example.json
cypress/support
# ==========================
# System / IDE
# ==========================
